body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;  
    background: linear-gradient(to left, #FF0000, #FFFFFF  )
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 10px;
  }

  header {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border: 5px solid red;
    background-color: azure;
    font-family: Comic Sans Ms;
  }

  .logo {
    margin-top: -5%;
    width: 10%;
    border: 3px solid red;
}

.imgprincipal2 {
    text-align: center;
  }

.principal2 {
    width: 20%;
    height: 20%;
  }

.beneficiosinf {
    text-align: center;
    font-size: 25px;
}

.beneftitle {
    font-weight: bold;
    color:cornflowerblue;
    font-size: 35px;
}

.bene {
    text-align: center;
}

.beneficios {
    padding: 10px;
    font-weight: bold;
}


.observ {
    text-align: center;
    font-size: 35px;
}

.obs {
    font-size: 25px;

}

.obss {
    color: #8d00f2  ;
}

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .footer p {
    margin: 0;
  }