body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;  
    background: linear-gradient(to left, #FF0000, #FFFFFF  )
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 10px;
  }

header {
  text-align: center;
  padding: 15px;
  border: 5px solid red;
  background-color: azure;
}
  
.logo {
  margin-top: -5%;
  width: 10%;
  border: 3px solid red;
}


.faqq {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 55px;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 5px solid black;  
}

.produtos li:hover {
  border: 1px solid blue;
  color: #C78C19;
}

.produtos li:active {
  border: 3px solid red;
}

.img1 {
  width: 55%;
}

.img2 {
  width: 100%;
}

.img3 {
  width: 100%;
}

.img4 {
  width: 100%;
}

.img5 {
  width: 60%;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}